.calculator-home {
  padding: 40px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
}

.calculator-header {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calculator-header-title {
  font-weight: bold;
  font-size: 14px;
}

.calculator-header-tip {
  position: absolute;
  right: 0;
}

.calculator-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.calculator-options-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  color: #1890ff;
}

.calculator-more-box {
  position: absolute;
  overflow: auto;
  right: 20px;
  top: 20px;
  bottom: 20px;
  width: 55%;
}

.calculator-title {
  color: #1890ff;
  font-weight: bold;
}

.calculator-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calculator-item-title {
  width: 100px;
}

.calculator-loading {
  align-items: center;
  justify-content: center;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.calculator-bate {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
}

.calculator-bate > span {
  margin-right: 10px;
}

.calculator-tips {
  margin-top: 20px;
  background-color: gray;
  color: #f9f9f9;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
}
