.detail-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
  overflow: hidden;
}

.s-class {
  margin-left: 30px;
  color: red;
}

.profit-box {
  font-size: 12px;
  margin-left: 20px;
}
